<section>
  <div class="row">
    <div class="4u image">
      <img src="../assets/raghu.jpg" alt="">
    </div>
    <h2 id="about">About Raghavendra</h2>
    <p id="resume">
      <%=
        link_to 'Résumé',
asset_path("Raghavendra-Sangarsu-Resume.pdf"),
        :target => "_blank"
      %>
    </p>
    <div class="description-div">
      <p class="description about">
        <li>I have 5 years of experience in working with Ruby on Rails.</li>
        <li>I am worked with all areas of Web Technologies: HTML/CSS(Bootstrap), Javascript, jQuery.</li>
        <li>I am mastered in Javascript. Even I worked on advanced Javscript libraries like EXTJS, Angular JS.</li>
        <li>I have worked as free-lancer for 1.5 years, which helped me to master the skills and gave me complete knowledge from requirements gathering to deployment.</li>
        <li>I have worked on Java using framework springs for 10 months, so I can be a backup Java developer.</li>
        <li>I have experience in developing with android application. Even I can support with that too.</li>
        <li>I have worked as trainer for Ruby on Rails. I can help you grow your Ruby on Rails team.</li>
        <li>I have experience in leading the team of 4 people.</li>
      </p>
      <p class="description about">
        I would appreciate the opportunity to discuss my credentials with you at a mutually
        convenient time. If you have any questions or would like more information about my
        qualifications. Thank you for your consideration.
        <br/>
        I am Located in <span style= "color:blue">Phoenix</span>. 
      </p>
      <p id="email">
        raghava.sangars@gmail.com
      </p>
    </div>
  </div>
</section>




- 
