<div id="footer">
  <ul class="copyright">
    <li class="footer-icons">
      <a
        href="https://www.linkedin.com/in/raghusangars"
        target="_blank">
        <i class="fa fa-linkedin-square"></i>
      </a>
    </li>
    <li>&copy; Raghavendra Sangarsu.</li>
    <li>Design:
      <a
        href="http://html5up.net"
        target="_blank">
        HTML5 UP
      </a>
    </li>
    <li class="footer-icons">
      <a
        href="http://github.com/raghavendra-prithvi"
        target="_blank"
        >
        <i class="fa fa-github-square"></i>
      </a>
    </li>
  </ul>
</div>